@model ClientApiDept.Models.Department

@{
    ViewBag.Title = "IndexDept";
}

<h2>IndexDept</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deptid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deptname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.deptid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
