@model IEnumerable<ClientApiDept.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deptid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.deptid  }) |
            @Html.ActionLink("Details", "IndexDept", new { id = item.deptid }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.deptid })
        </td>
    </tr>
}

</table>
