@model Online_Pharmacy_System_Project.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            background-color: aliceblue;
        }

        dl-horizontal, h2 {
            margin: 10px 0px 0px 50px;
        }
    </style>

    @if (Session["deletemedi"] != null)
    {
        var message = Session["deletemedi"].ToString();
        <script type="text/javascript">
        window.onload = function () {
            alert("@message");
            
        }
        </script>
    }
</head>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm())
    {
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt></dt>
            <dt>
                @Html.DisplayNameFor(model => model.First_Name)
                @Html.HiddenFor(model => model.Customer_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Last_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Last_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
